%-------------------------
% Resume in LaTeX
% Author : Jake Gutierrez
% Taken From: https://github.com/jakegut/resume
% License : MIT
%------------------------

\documentclass[letterpaper,11pt]{article}

\usepackage{latexsym}
\usepackage[empty]{fullpage}
\usepackage{titlesec}
\usepackage{marvosym}
\usepackage[usenames,dvipsnames]{color}
\usepackage{verbatim}
\usepackage{enumitem}
\usepackage[hidelinks]{hyperref}
\hypersetup{
    pdftitle={<<basics.name|escape_latex>> Resume},
    pdfauthor={<<basics.name|escape_latex>>},
    pdfcreator={<<basics.name|escape_latex>>},<@ if meta @><@ if meta.subject @>
    pdfsubject={<<meta.subject|escape_latex>>},<@ endif @><@ if meta.keywords @>
    pdfkeywords={<<meta.keywords|escape_latex>>},<@ endif @><@ endif @>
    pdflang={en-US},
    pdfdisplaydoctitle=true
}
\usepackage{fancyhdr}
\usepackage[english]{babel}
\usepackage{tabularx}
\input{glyphtounicode}


%----------FONT OPTIONS----------
% sans-serif
% \usepackage[sfdefault]{FiraSans}
% \usepackage[sfdefault]{roboto}
% \usepackage[sfdefault]{noto-sans}
% \usepackage[default]{sourcesanspro}

% serif
% \usepackage{CormorantGaramond}
% \usepackage{charter}


\pagestyle{fancy}
\fancyhf{} % clear all header and footer fields
\fancyfoot{}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

% Adjust margins
\addtolength{\oddsidemargin}{-0.5in}
\addtolength{\evensidemargin}{-0.5in}
\addtolength{\textwidth}{1in}
\addtolength{\topmargin}{-.5in}
\addtolength{\textheight}{1.0in}

\urlstyle{same}

\raggedbottom
\raggedright
\setlength{\tabcolsep}{0in}

% Sections formatting
\titleformat{\section}{
  \vspace{-4pt}\scshape\raggedright\large
}{}{0em}{}[\color{black}\titlerule \vspace{-5pt}]

% Ensure that generate pdf is machine readable/ATS parsable
\pdfgentounicode=1

%-------------------------
% Custom commands

% ATS-optimized invisible text using PDF rendering mode 3 (zero dimensions)
\newcommand{\atsKeywords}[1]{%
  \ifx\relax#1\relax\else% Only if argument is not empty
    \smash{\makebox[0pt]{\pdfliteral page{q 3 Tr}#1\pdfliteral page{Q}}}%
  \fi%
}

\newcommand{\resumeItem}[1]{
  \item\small{
    {#1 \vspace{-2pt}}
  }
}

\newcommand{\resumeSubheading}[4]{
  \vspace{2pt}\item
    \begin{tabular*}{0.97\textwidth}[t]{l@{\extracolsep{\fill}}r}
      \textbf{#1} & #2 \\
      \textit{\small#3} & \textit{\small #4} \\
    \end{tabular*}\vspace{-4pt}
}

\newcommand{\resumeSubSubheading}[2]{
    \item
    \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
      \textit{\small#1} & \textit{\small #2} \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeProjectHeading}[2]{
    \item
    \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
      \small#1 & #2 \\
    \end{tabular*}\vspace{-7pt}
}

\newcommand{\resumeSubItem}[1]{\resumeItem{#1}\vspace{-4pt}}

\renewcommand\labelitemii{$\vcenter{\hbox{$\bullet$}}$}

\newcommand{\resumeSubHeadingListStart}{\begin{itemize}[leftmargin=0.15in, label={}]}
\newcommand{\resumeSubHeadingListEnd}{\end{itemize}}
\newcommand{\resumeItemListStart}{\begin{itemize}}
\newcommand{\resumeItemListEnd}{\end{itemize}\vspace{-5pt}}

%-------------------------------------------
%%%%%%  RESUME STARTS HERE  %%%%%%%%%%%%%%%%%%%%%%%%%%%%


\begin{document}

%----------HEADING----------
\begin{center}
    \textbf{\Huge \scshape <<basics.name|escape_latex>>} \\ \vspace{1pt}
    <@ if links and links|length > 0 @>\small <@ for link in links @><@ if not loop.first @> $|$ <@ endif @>\href{<<link.url>>}{<<link.display|escape_latex>>}<@ endfor @><@ endif @>
\end{center}

%-----------SUMMARY-----------
<@ if summary @>
\section{Summary}
<<summary|escape_latex>>
<@ if basics.ats_optimization @>\atsKeywords{ <<basics.ats_optimization|escape_latex>>}<@ endif @>
<@ endif @>

%-----------EDUCATION-----------
\section{Education}
  \resumeSubHeadingListStart
    <@ for edu in education @>
    \resumeSubheading
      {<<edu.institution|escape_latex>>}{<<edu.location|default("", true)|escape_latex>>}
      {<<edu.degree|escape_latex>>}{<<edu.dates|escape_latex>>}
      <@ if edu.details @>
      \resumeItemListStart
        <@ for detail in edu.details @>
        \resumeItem{<<detail|escape_latex>>}
        <@ endfor @>
      \resumeItemListEnd
      <@ endif @>
    <@ endfor @>
  \resumeSubHeadingListEnd

%-----------EXPERIENCE-----------
\section{Experience}
  \resumeSubHeadingListStart
    <@ for job in experience @>
    \resumeSubheading
      {<<job.title|escape_latex>>}{<<job.dates|escape_latex>>}
      {<<job.company|escape_latex>>}{<<job.location|default("", true)|escape_latex>>}
      \resumeItemListStart
        <@ for bullet in job.bullets @>
        \resumeItem{<<bullet|escape_latex>>}
        <@ endfor @>
      \resumeItemListEnd
    <@ endfor @>
  \resumeSubHeadingListEnd


%-----------PROJECTS-----------
<@ if projects @>
\section{Projects}
    \resumeSubHeadingListStart
      <@ for project in projects @>
      \resumeProjectHeading
          {\textbf{<<project.name|escape_latex>>}<@ if project.tech @> $|$ \emph{<<project.tech|escape_latex>>}<@ endif @>}{<@ if project.dates @><<project.dates|escape_latex>><@ endif @>}
          <@ if project.bullets @>
          \resumeItemListStart
            <@ for bullet in project.bullets @>
            \resumeItem{<<bullet|escape_latex>>}
            <@ endfor @>
          \resumeItemListEnd
          <@ else @>
          \resumeItemListStart
            \resumeItem{<<project.description|escape_latex>><@ if project.link @> (\href{https://<<project.link>>}{<<project.link>>})<@ endif @>}
          \resumeItemListEnd
          <@ endif @>
      <@ endfor @>
    \resumeSubHeadingListEnd
<@ endif @>

%-----------LICENSES & CERTIFICATIONS-----------
<@ if certifications and certifications|length > 0 @>
\section{Licenses \& Certifications}
    \resumeSubHeadingListStart
      <@ for cert in certifications @>
      \resumeProjectHeading
          {\textbf{<<cert.name|escape_latex>>}}{<<cert.date|escape_latex>>}
          \resumeItemListStart
            \resumeItem{<<cert.issuer|escape_latex>><@ if cert.credential_id @> | ID: <<cert.credential_id|escape_latex>><@ endif @><@ if cert.verification_url @> (\href{https://<<cert.verification_url>>}{Verify})<@ endif @>}
          \resumeItemListEnd
      <@ endfor @>
    \resumeSubHeadingListEnd
<@ endif @>

%-----------TECHNICAL SKILLS-----------
<@ if skills and skills|length > 0 @>
\section{Technical Skills}
 \begin{itemize}[leftmargin=0.15in, label={}]
    \small{\item{
     <@ for category, items in skills.items() @>
     \textbf{<<category|escape_latex>>}{: <<items|escape_latex>>}<@ if not loop.last @> \\<@ endif @>
     <@ endfor @>
    }}
 \end{itemize}
<@ endif @>

%-------------------------------------------
\end{document}
